# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lab2/shell/.vscode/launch.json
lab2/shell/target/CACHEDIR.TAG
lab2/shell/target/rls/.rustc_info.json
lab2/shell/target/rls/CACHEDIR.TAG
lab2/shell/target/rls/debug/.cargo-lock
lab2/shell/target/rls/debug/.fingerprint/bitflags-6296c1dd02b0fc4c/run-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/bitflags-6296c1dd02b0fc4c/run-build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/bitflags-84862d17cf3fde2a/dep-lib-bitflags
lab2/shell/target/rls/debug/.fingerprint/bitflags-84862d17cf3fde2a/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/bitflags-84862d17cf3fde2a/lib-bitflags
lab2/shell/target/rls/debug/.fingerprint/bitflags-84862d17cf3fde2a/lib-bitflags.json
lab2/shell/target/rls/debug/.fingerprint/bitflags-b9d72901f76b5b50/build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/bitflags-b9d72901f76b5b50/build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/bitflags-b9d72901f76b5b50/dep-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/bitflags-b9d72901f76b5b50/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/cfg-if-f504e0fee230fa6f/dep-lib-cfg-if
lab2/shell/target/rls/debug/.fingerprint/cfg-if-f504e0fee230fa6f/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/cfg-if-f504e0fee230fa6f/lib-cfg-if
lab2/shell/target/rls/debug/.fingerprint/cfg-if-f504e0fee230fa6f/lib-cfg-if.json
lab2/shell/target/rls/debug/.fingerprint/libc-5ce90314ad5928b0/build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/libc-5ce90314ad5928b0/build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/libc-5ce90314ad5928b0/dep-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/libc-5ce90314ad5928b0/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/libc-60366eb0894d5ccc/run-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/libc-60366eb0894d5ccc/run-build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/libc-b9416936c723591c/dep-lib-libc
lab2/shell/target/rls/debug/.fingerprint/libc-b9416936c723591c/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/libc-b9416936c723591c/lib-libc
lab2/shell/target/rls/debug/.fingerprint/libc-b9416936c723591c/lib-libc.json
lab2/shell/target/rls/debug/.fingerprint/nix-8be4377c1448ca28/dep-lib-nix
lab2/shell/target/rls/debug/.fingerprint/nix-8be4377c1448ca28/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/nix-8be4377c1448ca28/lib-nix
lab2/shell/target/rls/debug/.fingerprint/nix-8be4377c1448ca28/lib-nix.json
lab2/shell/target/rls/debug/.fingerprint/nix-b49bae00970151ec/run-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/nix-b49bae00970151ec/run-build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/nix-bc0c059cc96a54b2/build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/nix-bc0c059cc96a54b2/build-script-build-script-build.json
lab2/shell/target/rls/debug/.fingerprint/nix-bc0c059cc96a54b2/dep-build-script-build-script-build
lab2/shell/target/rls/debug/.fingerprint/nix-bc0c059cc96a54b2/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/shell-b5e6644ce03fa013/bin-shell
lab2/shell/target/rls/debug/.fingerprint/shell-b5e6644ce03fa013/bin-shell.json
lab2/shell/target/rls/debug/.fingerprint/shell-b5e6644ce03fa013/dep-bin-shell
lab2/shell/target/rls/debug/.fingerprint/shell-b5e6644ce03fa013/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/shell-ee0bc8d231e0c548/dep-test-bin-shell
lab2/shell/target/rls/debug/.fingerprint/shell-ee0bc8d231e0c548/invoked.timestamp
lab2/shell/target/rls/debug/.fingerprint/shell-ee0bc8d231e0c548/test-bin-shell
lab2/shell/target/rls/debug/.fingerprint/shell-ee0bc8d231e0c548/test-bin-shell.json
lab2/shell/target/rls/debug/build/bitflags-6296c1dd02b0fc4c/invoked.timestamp
lab2/shell/target/rls/debug/build/bitflags-6296c1dd02b0fc4c/output
lab2/shell/target/rls/debug/build/bitflags-6296c1dd02b0fc4c/root-output
lab2/shell/target/rls/debug/build/bitflags-6296c1dd02b0fc4c/stderr
lab2/shell/target/rls/debug/build/bitflags-b9d72901f76b5b50/save-analysis/build_script_build-b9d72901f76b5b50.json
lab2/shell/target/rls/debug/build/libc-5ce90314ad5928b0/save-analysis/build_script_build-5ce90314ad5928b0.json
lab2/shell/target/rls/debug/build/libc-60366eb0894d5ccc/invoked.timestamp
lab2/shell/target/rls/debug/build/libc-60366eb0894d5ccc/output
lab2/shell/target/rls/debug/build/libc-60366eb0894d5ccc/root-output
lab2/shell/target/rls/debug/build/libc-60366eb0894d5ccc/stderr
lab2/shell/target/rls/debug/build/nix-b49bae00970151ec/invoked.timestamp
lab2/shell/target/rls/debug/build/nix-b49bae00970151ec/output
lab2/shell/target/rls/debug/build/nix-b49bae00970151ec/root-output
lab2/shell/target/rls/debug/build/nix-b49bae00970151ec/stderr
lab2/shell/target/rls/debug/build/nix-bc0c059cc96a54b2/save-analysis/build_script_build-bc0c059cc96a54b2.json
lab2/shell/target/rls/debug/deps/libbitflags-84862d17cf3fde2a.rmeta
lab2/shell/target/rls/debug/deps/libcfg_if-f504e0fee230fa6f.rmeta
lab2/shell/target/rls/debug/deps/liblibc-b9416936c723591c.rmeta
lab2/shell/target/rls/debug/deps/libnix-8be4377c1448ca28.rmeta
lab2/shell/target/rls/debug/deps/save-analysis/libbitflags-84862d17cf3fde2a.json
lab2/shell/target/rls/debug/deps/save-analysis/libnix-8be4377c1448ca28.json
lab2/shell/target/rls/debug/deps/save-analysis/shell-b5e6644ce03fa013.json
lab2/shell/target/rls/debug/deps/save-analysis/shell-ee0bc8d231e0c548.json
lab2/shell/target/rls/debug/incremental/shell-22r47clza6vw0/s-fyy63atbg8-qbvmq3.lock
lab2/shell/target/rls/debug/incremental/shell-kkcew912wg5o/s-fyy63ajfdj-zzaqed.lock
